{% extends 'global/base.html' %}
{% block content %}
<div id="view-order">
    js here
</div>
<div>
    <h5>CEP</h5>
    <input id="cep-name" type="text">
    <h5>Bairro</h5>
    <input id="bairro-name" type="text">
    <h5>Rua</h5>
    <input id="rua-name" type="text">
    <h5>Casa</h5>
    <input id="casa-name type="text">
    <h5>Complemento</h5>
    <input id="complemento-name" type="text">
    <h5>Forma de pagamento</h5>
    <select id="payment">
        <option>1</option>
        <option>2</option>
    </select>
    <button>Confirmar</button>
</div>
{% endblock content %}
