{% extends 'global/base.html' %}
{% load static %}
{% block content %}
    <div class="topic-option">
        <div class="area-image">
            <img src="media/food/utils/descont-image.png" alt="Imagem do 25%">
        </div>
        <div class="area-text">
            <h1>Descontos</h1>
            <p>Aproveite os nossos descontos a partir dos 25%! O seu lanche nunca foi tão fácil. Não é mesmo?</p>
            <button id="r-descontos">Veja mais</button>
        </div>
    </div>
    <div class="topic-option">
        <div class="area-image">
            <img src="media/food/utils/savory.png" alt="Imagem de salgados">
        </div>
        <div class="area-text">
            <h1>Salgados</h1>
            <p>Está desejando um gostinho um pouco mais salgado? Exeperimente os nossos melhores salgados!</p>
            <a href="/food/?category_id=1"><button id="r-salgados">Veja mais</button></a>
        </div>
    </div>
    <div class="topic-option">
        <div class="area-image">
            <img src="media/food/utils/cakes.png" alt="Imagem de bolos">
        </div>
        <div class="area-text">
            <h1>Bolos</h1>
            <p>Para festa de aniverssário, namoro e até mesmo comemoração entre amigos, o bolo não pode faltar!</p>
            <a href="/food/?category_id=3"><button id="r-bolos">Veja mais</button></a>
        </div>
    </div>
    <div class="topic-option">
        <div class="area-image">
            <img src="media/food/utils/sugar.png" alt="Imagem de doces">
        </div>
        <div class="area-text">
            <h1>Doces</h1>
            <p>Talvez um sabor mais doce seja o seu gosto. Aproveite os nossos doces disponíveis para você!</p>
            <a href="/food/?category_id=2"><button id="r-doces">Veja mais</button></a>
        </div>
    </div>
    <div class="topic-option">
        <div class="area-image">
            <img src="media/food/utils/drinks.png" alt="Imagem de bebidas">
        </div>
        <div class="area-text">
            <h1>Bebidas</h1>
            <p>Algo para acompanhar? Que tal uma bebida refrescante para dar um toque adicional ao seu lanche?</p>
            <a href="/food/?category_id=4"><button id="r-bebidas">Veja mais</button></a>
        </div>
    </div>
{% endblock content %}