{% extends 'global/base.html' %}
{% block content %}
    <div id="carousel">
        <div id="last-carousel" class="carousel-mobile">last</div>
        <div id="photos-carousel"></div>
        <div id="next-carousel" class="carousel-mobile">next</div>
    </div>

    <div class="topic-option">
        <div>Image</div>
        <div>
            <h3>Title</h3>
            <p>Description</p>
            <button></button>
        </div>
    </div>
    <div class="topic-option">
        <div>Image</div>
        <div>
            <h3>Title</h3>
            <p>Description</p>
            <button></button>
        </div>
    </div>
    <div class="topic-option">
        <div>Image</div>
        <div>
            <h3>Title</h3>
            <p>Description</p>
            <button></button>
        </div>
    </div>
    <div class="topic-option">
        <div>Image</div>
        <div>
            <h3>Title</h3>
            <p>Description</p>
            <button></button>
        </div>
    </div>
    <div class="topic-option">
        <div>Image</div>
        <div>
            <h3>Title</h3>
            <p>Description</p>
            <button></button>
        </div>
    </div>
{% endblock content %}