@media (min-width: 320px) {
    header{
        position: sticky;
        top: 0px;
        width: 100%;
    }

    #container-menu-mobile{
        background-color: #BE0000;
        height: 3.287rem;

        padding: 0 1.875rem 0 1.875rem;
    }

    #icons-search-cart{
        width: 4.5rem;
    }

    .absolute{
        position: absolute;
    }

    .relative{
        position: relative;
    }

    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }    

    .menu-background{
        background-color: #F7F7F5;
        height: 100vh;
        width: 90%;
    }

    // Menu options
    #menu-hamburguer-mobile{
        display: flex;
        flex-direction: column;
        height: 0.76rem;

        justify-content: space-between;
    }

    #menu-options{
        padding-top: 3rem;

        ul{
            margin-left: 1.875rem;

            li{
                margin-bottom: 0.696rem;
                list-style: none;
                font-size: 22px;
            }
        }
    }    

    .selected{
        color: #FF9900;
    }

    .menu-close{
        transform: translateX(-100%);
        transition: .2s;
    }

    .menu-open{
        transition: .2s;
        transform: translateX(0%);
    }

    .menu-bars{
        height: 0.125rem;
        width: 1.125rem;
        background-color: #FFFFFF;

        transition: .2s;
    }

    // Search options
    #search-area{
        z-index: -1;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 4.2rem;
        width: 100%;
        background-color: #F7F7F5;

        button{
            border: none;
            background-color: transparent;
            margin: 0.5rem;
        }               

        input{
            border: none;
            height: 100%;    
            width: 100%;                   

            margin-left: 1.54rem;
        }
    }

    #input-search-area{
        background-color: #FFFFFF;
        height: 2.125rem;
        width: 19.4rem;

        border-radius: 1rem;
    }

    .search-close{
        transform: translateY(-200%);
        transition: .2s;
    }

    .search-open{
        transition: .2s;
        transform: translateY(0%);
    }

    // Cart options  
    .cart-product{
        background-color: #FF3D00;
        color: #FFFFFF;
        font-weight: bold;

        padding: 0 1.075rem;
        height: 4.375rem;

        margin-bottom: 0.2rem;

        img{
            max-width: 5rem;
        }

        .trash{
            background-color: transparent;
            height: auto;
            width: auto;
        }
    }

    .qnt-position{
        position: absolute;
        display: flex;
        font-family: 'Inter';

        top: -0.75rem;
        left: 0;

        color: #FFFFFF;

        align-items: center;
        justify-content: center;
        
        border-radius: 100%;
        background-color: #FF0000;
        width: 1.5rem;
        height: 1.5rem;
    }

    .grid{
        display: grid;
        align-content: space-between;
    }

    .none{
        display: none;
    }

    .cart-close{
        transform: translateX(100%);
        transition: .2s;
    }

    .cart-open{
        transition: .2s;
        transform: translateX(0%);
    }

    #content-menu-cart{
        height: 85%;
    }

    #price-options{
        display: grid;

        height: 5.60rem;

        button{
            width: 50%;
            justify-self: center;
            height: 2.24rem;

            font-weight: bold;
            background-color: #FF9900;

            color: #F7F7F5;
            border: none;
            border-radius: 1.25rem;
    
            &:hover{
                background-color: #EAA947;
            }
    
            &:active{
                background-color: #CB7C07;
            }
        }
    }

    #cart-menu{
        right: 0px;
    }

    // Continuar aqui
    #total-price{
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Inter';

        color: #F7F7F5;
        font-weight: 500;

        height: 2.25rem;        

        background-color: #FF3D00;
    }
    
}