{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% include 'global/partials/head.html' %}       

    </head>

    <body>
        <header>
            {% comment %} Menu principal {% endcomment %}
            {% include 'global/partials/menu.html' %}            
            {% comment %} Meenu and cart options {% endcomment %}
            <div class="relative">                
                {% include 'global/partials/menu_option.html' %}
                {% include 'global/partials/search_option.html' %}
                {% include 'global/partials/cart_option.html' %}                             
            </div>
        </header>         
        
        <main>
            {% block content %}{% endblock content %}
        </main>
        
        {% include 'global/partials/footer.html' %}

        {% block script %}{% endblock script %}
        <script src="{% static 'global/js/header.js' %}"></script>
        <script src="{% static 'global/js/cart.js' %}"></script>
    </body>
</html>