{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% include 'global/partials/head.html' %}       

    </head>

    <body>
        <header>
            {% comment %} Menu principal {% endcomment %}
            {% include 'global/partials/menu.html' %}            
            {% comment %} Meenu and cart options {% endcomment %}
            <div class="relative">                
                {% include 'global/partials/menu_option.html' %}
                {% include 'global/partials/search_option.html' %}
                {% include 'global/partials/cart_option.html' %}                             
            </div>
        </header>         
        
        <main>
            {% comment %} {% block content %}{% endblock content %} {% endcomment %}
        </main>
        <footer>
            <div>
                <h3>Atalho</h3>
                <ul>
                    <li>Salados</li>
                    <li>Bolos</li>
                    <li>Doces</li>
                    <li>Bebidas</li>
                </ul>
            </div>
            <div>
                <h3>Contatos</h3>
                <ul>
                    <li>Email</li>
                    <li>Number</li>
                    <li>Instagram</li>
                    <li>Facebook</li>
                </ul>
            </div>
            <div>
                <h3>Outros</h3>
                <ul>
                    <li>Política de privacidade</li>
                    <li>Termos de uso</li>
                    <li>Política de Cookies</li>
                </ul>
            </div>
            <div>copyright</div>
        </footer>
        
    </body>
</html>