<footer>
    <div id="contents">
        <div>
            <h2>Atalho</h2>
            <ul>
                <li>Salados</li>
                <li>Bolos</li>
                <li>Doces</li>
                <li>Bebidas</li>
            </ul>
        </div>
        <div>
            <h2>Contatos</h2>
            <ul>
                <li>Email</li>
                <li>Number</li>
                <li>Instagram</li>
                <li>Facebook</li>
            </ul>
        </div>
        <div>
            <h2>Outros</h2>
            <ul>
                <li>Política de privacidade</li>
                <li>Termos de uso</li>
                <li>Política de Cookies</li>
            </ul>
        </div>
    </div>
    <div class="copyright">© My Food ltda. Todos os direitos reservados.</div>
</footer>