@import url(default/header.css);
@import url(default/geral.css);
@import url(default/foods.css);
@import url(default/order.css);

@import url(default/main-content.css);
@import url(default/footer.css);
