@media (min-width: 320px) {
    .container-food{
        margin: 1.125rem;
    } 
    
    #name-category{
        width: 100%;
        text-align: center;
    }
}

button{
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 100%;

    height: 3.125rem;
    width: 3.125rem;
}

#loading{
    margin: 1em;
}

#food-category{
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
}

// Container que contém as funcionalidades da compra e descrição
.buy-description{
    display: flex;
    gap: 0.875rem;
}

.buy-button{
    background-color: #FF9900;

    &:hover{
        background-color: #EAA947;
    }

    &:active{
        background-color: #CB7C07;
    }
}

.description-button{
    background-color: #077FC3;

    &:hover{
        background-color: #29B1FE;
    }

    &:active{
        background-color: #034266;
    }

}

// Informações gerais como foto, título e preço
.container-food{
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    background-color: #F7F7F5;
    width: 17.813rem;
    height: 20.313rem;

    border-radius: 1.25rem;    

    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
}

.image-food{
    display: flex;
    padding-top: 0.5rem;

    width: 100%;
    height: 11.25rem;

    justify-content: center;
    align-items: center;
}

.title-food{
    width: 100%;
    text-align: center;

    margin: 1.125rem 0;
}

.price-and-options{
    display: flex;
    margin-bottom: 1em;

    width: 100%;

    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}

.old-price{
    font-size: 0.75rem;
    color: #5F5F5F;
    text-decoration: line-through;
}

.price-divisor{
    display: flex;
    flex-direction: column-reverse;

    
    text-align: center;
}

// Display para exibir as informações ao clicar na descrição ou na compra
#infos-desc-buy{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.2);
}

// Parte dedicada para a compra
#content-buy{
    position: relative;

    transform: translateY(200%);
    transition: 0.2s;

    display: none;
    flex-direction: column;
    align-items: center;

    width: 21.25rem;
    height: 20.313rem;

    background-color: #F7F7F5;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
    border-radius: 1.25rem;

    #arrow-buy-exit{
        position: absolute;
        top: 0;
        right: 0;

        background-color: transparent;
        width: auto;
        height: auto;

        margin-top: 1rem;
        margin-right: 1.25rem;
    }

    .infos-quantity-price{
        display: flex;
        gap: 7px;
        flex-direction: column;
        align-items: center;
    }

    .quantity-and-add-cart{
        display: flex;
        width: 100%;

        gap: 4.375rem;       
    }

    button{
        background-color: #FF9900;
    }

    .infos-buy{
        display: flex;
        gap: 0.75rem;

        align-items: center;

        button{
            width: 2rem;
            height: 2rem;
        }

        button:nth-child(1){
            border-radius: 1.25rem 0 0 1.25rem;
        }

        button:nth-child(3){
            border-radius: 0 1.25rem 1.25rem 0;
        }
    }

}

// Parte dedicada à descrição
#content-description{    
    position: relative;

    transform: translateY(200%);
    transition: 0.2s;

    display: none;
    flex-direction: column;
    align-items: center;

    width: 21.25rem;
    height: 26.25rem;

    background-color: #F7F7F5;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
    border-radius: 1.25rem;

    #arrow-desc-exit{
        position: absolute;
        top: 0;
        right: 0;

        background-color: transparent;
        width: auto;
        height: auto;

        margin-top: 1rem;
        margin-right: 1.25rem;
    }
    
    .desc-food{
        display: flex;
        gap: 7px;
        flex-direction: column;
        align-items: center;

        padding: 0 0.75rem;

        h2{
            line-height: 2.375rem;
        }

        p{
            text-align: center;
        }
    }    
}