* {
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

h3{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

button{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

ul{
    font-family: 'Inter', sans-serif;
}